<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="conString" value="Data Source=sqlhost;Initial Catalog=Db_Tank;Persist Security Info=True;User ID=sa;Password=sqlpass" />
    <add key="ResourceAddress" value="http://ddttr-a.akamaihd.net/" /> <!--resource link or resource folder on your machine-->
  </appSettings>
</configuration>